In [1]:
# what is pandas ?
# pandas is a library used to work with data sets, analysing ,cleaning ,exploring and manipulating data

In [2]:
# name pandas->python data analysis

In [3]:
# pandas analyse bug data and make conclusions based on statistical theories

In [4]:
# pandas can clean messi datas and make them redable and relevant

In [5]:
# what can pandas do ?
# avg value
# min value
# max value
# make ad delete rows

In [6]:
import pandas as pd
print(pd.__version__)

2.2.3

In [7]:
# pandasseries
# pandasseries is like column in a table 
# it is like 1d array which holds data of any type

In [9]:
import pandas as pd
x=[1,4,5,7,4]
y=pd.Series(x)
print(y)

0    1
1    4
2    5
3    7
4    4
dtype: int64

In [12]:
# labeling-can be used to access a specified value
import pandas as pd
x=[1,4,5,7,4]
y=pd.Series(x)
print(y)
print("2nd index:",y[2])

0    1
1    4
2    5
3    7
4    4
dtype: int64
2nd index: 5

In [13]:
# with create label you can create your own name labels
import pandas as pd
x=[1,4,5,7,4]
y=pd.Series(x,index=["a","b","c","d","e"])
print(y)

a    1
b    4
c    5
d    7
e    4
dtype: int64

In [14]:
#  to access the value after creating own label
import pandas as pd
x=[1,4,5,7,4]
y=pd.Series(x,index=["a","b","c","d","e"])
print(y["c"])

5

In [15]:
# you can also use a key or value objet like dictionary.when creating a series

In [17]:
import pandas as pd
cal={"day1":420,"day2":380,"day3":390}
y=pd.Series(cal)
print(y)

day1    420
day2    380
day3    390
dtype: int64

In [18]:
# now we will create a series using only data from day1 and day2
import pandas as pd
cal={"day1":420,"day2":380,"day3":390}
y=pd.Series(cal,index=["day1","day2"])
print(y)

day1    420
day2    380
dtype: int64

In [19]:
# dataFrame:datasets in pandas are usually multidimensional tables and they are called dataframes

In [20]:
# series are like columns and dataframes is the whole tables

In [22]:
import pandas as pd
x={"cal":[420,380,390],"duration":[40,50,60]}
y=pd.DataFrame(x)
print(y)

   cal  duration
0  420        40
1  380        50
2  390        60

In [24]:
#  to show particular row
# locate row: pandas use the loc attribute to return one or more specified row
import pandas as pd
x={"cal":[420,380,390],"duration":[40,50,60]}
y=pd.DataFrame(x)
print(y)
print()
print(y.loc[0])

   cal  duration
0  420        40
1  380        50
2  390        60

cal         420
duration     40
Name: 0, dtype: int64

In [30]:
import pandas as pd
x={"cal":[420,380,390],"duration":[40,50,60]}
y=pd.DataFrame(x)
print(y)
print()
print(y.loc[[0,1]])

   cal  duration
0  420        40
1  380        50
2  390        60

   cal  duration
0  420        40
1  380        50

In [31]:
# named index:
# with the index arg you can name your own index
import pandas as pd
x={"cal":[420,380,390],"duration":[40,50,60]}
y=pd.DataFrame(x,index=["day1","day2","day3"])
print(y)

      cal  duration
day1  420        40
day2  380        50
day3  390        60

In [33]:
# locate the named indexes

import pandas as pd
x={"cal":[420,380,390],"duration":[40,50,60]}
y=pd.DataFrame(x,index=["day1","day2","day3"])
print(y.loc["day1"])

cal         420
duration     40
Name: day1, dtype: int64

In [34]:
import pandas as pd
x={"cal":[420,380,390],"duration":[40,50,60]}
y=pd.DataFrame(x,index=["day1","day2","day3"])
print(y.loc[["day1","day2"]])

      cal  duration
day1  420        40
day2  380        50

In [35]:
# load the data from the csv file into dataframe
# i.e data.csv
import pandas as pd
# x=pd.read_csv('data.csv')
# print(x)

In [1]:
# why use csv ?
# comma separated value or files
# it is a simple way to store the big and biggest data sets
# used for importing 
# csv files contain plain text

In [2]:
import pandas as pd
x=pd.read_csv('demo_data.csv')
print(x)

    Student_ID        Name Grade  Age Major   GPA
0            1   Student_1     A   20    CE  3.53
1            2   Student_2     D   18    EE  3.67
2            3   Student_3     D   20    CS  2.25
3            4   Student_4     F   22   BIO  2.10
4            5   Student_5     C   21    EE  2.17
5            6   Student_6     D   19    CS  2.06
6            7   Student_7     B   20   BIO  3.34
7            8   Student_8     D   23    CE  3.14
8            9   Student_9     F   23    ME  3.16
9           10  Student_10     D   18    EE  2.56
10          11  Student_11     D   18    EE  2.55
11          12  Student_12     A   23    CE  3.90
12          13  Student_13     F   24    CE  2.38
13          14  Student_14     A   18    CS  3.51
14          15  Student_15     B   18   BIO  3.94
15          16  Student_16     B   23    CE  2.17
16          17  Student_17     D   22    EE  2.50
17          18  Student_18     C   19   BIO  2.70
18          19  Student_19     B   18    CS  2.97
19          20  Student_20     A   18    CS  2.29
20          21  Student_21     F   23    CE  2.96
21          22  Student_22     A   18    CE  2.74
22          23  Student_23     D   18    ME  3.74
23          24  Student_24     B   20   BIO  2.46
24          25  Student_25     C   23   BIO  2.37
25          26  Student_26     A   22    CS  2.75
26          27  Student_27     C   21    EE  3.29
27          28  Student_28     C   22   BIO  3.23
28          29  Student_29     B   22   BIO  3.71
29          30  Student_30     F   20    CE  3.17
30          31  Student_31     F   21    CE  2.59
31          32  Student_32     B   21    EE  3.13
32          33  Student_33     F   20    EE  3.01
33          34  Student_34     D   20    EE  2.16
34          35  Student_35     B   21    CE  2.52
35          36  Student_36     F   24    ME  2.84
36          37  Student_37     A   19    CS  2.22
37          38  Student_38     A   24   BIO  2.31
38          39  Student_39     D   18    CS  2.44
39          40  Student_40     B   24    ME  2.57
40          41  Student_41     B   22   BIO  2.50
41          42  Student_42     F   24    CE  3.75
42          43  Student_43     A   22    EE  2.14
43          44  Student_44     F   21    CS  2.07
44          45  Student_45     B   23    ME  3.37
45          46  Student_46     A   20    CS  3.24
46          47  Student_47     F   21    CE  2.21
47          48  Student_48     D   20    CS  2.19
48          49  Student_49     F   19   BIO  2.48
49          50  Student_50     F   20    ME  3.82

In [3]:
import pandas as pd
x=pd.read_csv('demo_data.csv')
print(x.to_string())

    Student_ID        Name Grade  Age Major   GPA
0            1   Student_1     A   20    CE  3.53
1            2   Student_2     D   18    EE  3.67
2            3   Student_3     D   20    CS  2.25
3            4   Student_4     F   22   BIO  2.10
4            5   Student_5     C   21    EE  2.17
5            6   Student_6     D   19    CS  2.06
6            7   Student_7     B   20   BIO  3.34
7            8   Student_8     D   23    CE  3.14
8            9   Student_9     F   23    ME  3.16
9           10  Student_10     D   18    EE  2.56
10          11  Student_11     D   18    EE  2.55
11          12  Student_12     A   23    CE  3.90
12          13  Student_13     F   24    CE  2.38
13          14  Student_14     A   18    CS  3.51
14          15  Student_15     B   18   BIO  3.94
15          16  Student_16     B   23    CE  2.17
16          17  Student_17     D   22    EE  2.50
17          18  Student_18     C   19   BIO  2.70
18          19  Student_19     B   18    CS  2.97
19          20  Student_20     A   18    CS  2.29
20          21  Student_21     F   23    CE  2.96
21          22  Student_22     A   18    CE  2.74
22          23  Student_23     D   18    ME  3.74
23          24  Student_24     B   20   BIO  2.46
24          25  Student_25     C   23   BIO  2.37
25          26  Student_26     A   22    CS  2.75
26          27  Student_27     C   21    EE  3.29
27          28  Student_28     C   22   BIO  3.23
28          29  Student_29     B   22   BIO  3.71
29          30  Student_30     F   20    CE  3.17
30          31  Student_31     F   21    CE  2.59
31          32  Student_32     B   21    EE  3.13
32          33  Student_33     F   20    EE  3.01
33          34  Student_34     D   20    EE  2.16
34          35  Student_35     B   21    CE  2.52
35          36  Student_36     F   24    ME  2.84
36          37  Student_37     A   19    CS  2.22
37          38  Student_38     A   24   BIO  2.31
38          39  Student_39     D   18    CS  2.44
39          40  Student_40     B   24    ME  2.57
40          41  Student_41     B   22   BIO  2.50
41          42  Student_42     F   24    CE  3.75
42          43  Student_43     A   22    EE  2.14
43          44  Student_44     F   21    CS  2.07
44          45  Student_45     B   23    ME  3.37
45          46  Student_46     A   20    CS  3.24
46          47  Student_47     F   21    CE  2.21
47          48  Student_48     D   20    CS  2.19
48          49  Student_49     F   19   BIO  2.48
49          50  Student_50     F   20    ME  3.82

In [4]:
# max_rows:you can check your system ma x rows with:
import pandas as pd
print(pd.options.display.max_rows)

60

In [5]:
# yes we can increase the max no of rows to display the entire dataframe

In [1]:
import pandas as pd
pd.options.display.max_rows=999
x=pd.read_csv('random_data.csv')
print(x)

     ID      Name  Age         City  Score
0     1    User_1   47      Houston  20.28
1     2    User_2   30      Phoenix  11.31
2     3    User_3   42      Chicago  36.74
3     4    User_4   33      Phoenix  57.76
4     5    User_5   51      Chicago  84.25
5     6    User_6   24      Chicago  38.09
6     7    User_7   43      Chicago  44.95
7     8    User_8   37      Chicago  89.66
8     9    User_9   54      Chicago  53.30
9    10   User_10   39      Phoenix  24.59
10   11   User_11   27      Houston  31.25
11   12   User_12   38     New York  19.49
12   13   User_13   20      Houston   4.56
13   14   User_14   51     New York  62.36
14   15   User_15   24     New York  44.50
15   16   User_16   37      Houston  35.25
16   17   User_17   47      Chicago  51.21
17   18   User_18   52      Phoenix  82.12
18   19   User_19   18     New York  60.26
19   20   User_20   24     New York  44.01
20   21   User_21   30      Phoenix  23.12
21   22   User_22   27  Los Angeles  68.54
22   23   User_23   41      Chicago  19.27
23   24   User_24   47      Phoenix   7.01
24   25   User_25   18      Houston  40.55
25   26   User_26   26      Phoenix  32.11
26   27   User_27   48  Los Angeles  28.71
27   28   User_28   48     New York  82.13
28   29   User_29   43      Phoenix  47.60
29   30   User_30   56     New York  44.80
30   31   User_31   22      Phoenix  68.54
31   32   User_32   57      Chicago  49.81
32   33   User_33   33     New York   2.73
33   34   User_34   32  Los Angeles  56.60
34   35   User_35   20      Houston  13.64
35   36   User_36   38      Chicago  77.93
36   37   User_37   22      Chicago  60.63
37   38   User_38   42     New York  47.75
38   39   User_39   44  Los Angeles  26.18
39   40   User_40   55      Houston  61.79
40   41   User_41   35      Houston  49.36
41   42   User_42   49  Los Angeles   3.92
42   43   User_43   38      Houston  79.35
43   44   User_44   43     New York  48.94
44   45   User_45   38  Los Angeles  79.09
45   46   User_46   21      Chicago  85.02
46   47   User_47   33      Chicago  85.89
47   48   User_48   53      Houston  64.63
48   49   User_49   19      Houston  13.08
49   50   User_50   34  Los Angeles  70.49
50   51   User_51   26     New York  61.16
51   52   User_52   53  Los Angeles  28.83
52   53   User_53   31      Chicago  28.33
53   54   User_54   39      Houston  49.64
54   55   User_55   54     New York   3.85
55   56   User_56   19      Phoenix  88.69
56   57   User_57   56      Phoenix  15.22
57   58   User_58   19  Los Angeles  91.05
58   59   User_59   38      Houston  90.36
59   60   User_60   35      Chicago   9.93
60   61   User_61   57     New York  39.30
61   62   User_62   31  Los Angeles  59.82
62   63   User_63   52      Phoenix  17.67
63   64   User_64   47      Houston  11.21
64   65   User_65   25     New York  55.16
65   66   User_66   33      Houston  22.83
66   67   User_67   52      Houston  43.13
67   68   User_68   24     New York  30.13
68   69   User_69   26      Phoenix  39.15
69   70   User_70   22      Phoenix  27.57
70   71   User_71   27     New York  50.83
71   72   User_72   48      Houston  91.91
72   73   User_73   26      Phoenix  34.60
73   74   User_74   39  Los Angeles   1.73
74   75   User_75   52  Los Angeles  27.99
75   76   User_76   58      Houston  73.83
76   77   User_77   56     New York  81.05
77   78   User_78   28     New York  60.86
78   79   User_79   53      Houston  39.28
79   80   User_80   21      Houston  80.86
80   81   User_81   28     New York  41.84
81   82   User_82   34     New York  93.60
82   83   User_83   23      Chicago  10.13
83   84   User_84   37      Phoenix   7.22
84   85   User_85   33      Chicago  22.58
85   86   User_86   40      Houston  71.60
86   87   User_87   56     New York  16.17
87   88   User_88   43     New York  18.60
88   89   User_89   52  Los Angeles   0.54
89   90   User_90   49  Los Angeles  63.56
90   91   User_91   47      Chicago  67.21
91   92   User_92   18     New York  15.46
92   93   User_93   42      Phoenix  23.34
93   94   User_94   56      Phoenix  23.61
94   95   User_95   42      Houston   7.72
95   96   User_96   35  Los Angeles  66.30
96   97   User_97   36  Los Angeles  94.02
97   98   User_98   58      Phoenix   4.14
98   99   User_99   33      Chicago  61.06
99  100  User_100   53      Houston   2.68

In [2]:
# but this is not readable

In [3]:
import pandas as pd
pd.options.display.max_rows=999
x=pd.read_csv('random_data.csv')
print(x.to_string())

     ID      Name  Age         City  Score
0     1    User_1   47      Houston  20.28
1     2    User_2   30      Phoenix  11.31
2     3    User_3   42      Chicago  36.74
3     4    User_4   33      Phoenix  57.76
4     5    User_5   51      Chicago  84.25
5     6    User_6   24      Chicago  38.09
6     7    User_7   43      Chicago  44.95
7     8    User_8   37      Chicago  89.66
8     9    User_9   54      Chicago  53.30
9    10   User_10   39      Phoenix  24.59
10   11   User_11   27      Houston  31.25
11   12   User_12   38     New York  19.49
12   13   User_13   20      Houston   4.56
13   14   User_14   51     New York  62.36
14   15   User_15   24     New York  44.50
15   16   User_16   37      Houston  35.25
16   17   User_17   47      Chicago  51.21
17   18   User_18   52      Phoenix  82.12
18   19   User_19   18     New York  60.26
19   20   User_20   24     New York  44.01
20   21   User_21   30      Phoenix  23.12
21   22   User_22   27  Los Angeles  68.54
22   23   User_23   41      Chicago  19.27
23   24   User_24   47      Phoenix   7.01
24   25   User_25   18      Houston  40.55
25   26   User_26   26      Phoenix  32.11
26   27   User_27   48  Los Angeles  28.71
27   28   User_28   48     New York  82.13
28   29   User_29   43      Phoenix  47.60
29   30   User_30   56     New York  44.80
30   31   User_31   22      Phoenix  68.54
31   32   User_32   57      Chicago  49.81
32   33   User_33   33     New York   2.73
33   34   User_34   32  Los Angeles  56.60
34   35   User_35   20      Houston  13.64
35   36   User_36   38      Chicago  77.93
36   37   User_37   22      Chicago  60.63
37   38   User_38   42     New York  47.75
38   39   User_39   44  Los Angeles  26.18
39   40   User_40   55      Houston  61.79
40   41   User_41   35      Houston  49.36
41   42   User_42   49  Los Angeles   3.92
42   43   User_43   38      Houston  79.35
43   44   User_44   43     New York  48.94
44   45   User_45   38  Los Angeles  79.09
45   46   User_46   21      Chicago  85.02
46   47   User_47   33      Chicago  85.89
47   48   User_48   53      Houston  64.63
48   49   User_49   19      Houston  13.08
49   50   User_50   34  Los Angeles  70.49
50   51   User_51   26     New York  61.16
51   52   User_52   53  Los Angeles  28.83
52   53   User_53   31      Chicago  28.33
53   54   User_54   39      Houston  49.64
54   55   User_55   54     New York   3.85
55   56   User_56   19      Phoenix  88.69
56   57   User_57   56      Phoenix  15.22
57   58   User_58   19  Los Angeles  91.05
58   59   User_59   38      Houston  90.36
59   60   User_60   35      Chicago   9.93
60   61   User_61   57     New York  39.30
61   62   User_62   31  Los Angeles  59.82
62   63   User_63   52      Phoenix  17.67
63   64   User_64   47      Houston  11.21
64   65   User_65   25     New York  55.16
65   66   User_66   33      Houston  22.83
66   67   User_67   52      Houston  43.13
67   68   User_68   24     New York  30.13
68   69   User_69   26      Phoenix  39.15
69   70   User_70   22      Phoenix  27.57
70   71   User_71   27     New York  50.83
71   72   User_72   48      Houston  91.91
72   73   User_73   26      Phoenix  34.60
73   74   User_74   39  Los Angeles   1.73
74   75   User_75   52  Los Angeles  27.99
75   76   User_76   58      Houston  73.83
76   77   User_77   56     New York  81.05
77   78   User_78   28     New York  60.86
78   79   User_79   53      Houston  39.28
79   80   User_80   21      Houston  80.86
80   81   User_81   28     New York  41.84
81   82   User_82   34     New York  93.60
82   83   User_83   23      Chicago  10.13
83   84   User_84   37      Phoenix   7.22
84   85   User_85   33      Chicago  22.58
85   86   User_86   40      Houston  71.60
86   87   User_87   56     New York  16.17
87   88   User_88   43     New York  18.60
88   89   User_89   52  Los Angeles   0.54
89   90   User_90   49  Los Angeles  63.56
90   91   User_91   47      Chicago  67.21
91   92   User_92   18     New York  15.46
92   93   User_93   42      Phoenix  23.34
93   94   User_94   56      Phoenix  23.61
94   95   User_95   42      Houston   7.72
95   96   User_96   35  Los Angeles  66.30
96   97   User_97   36  Los Angeles  94.02
97   98   User_98   58      Phoenix   4.14
98   99   User_99   33      Chicago  61.06
99  100  User_100   53      Houston   2.68

In [4]:
# how to read JSON files

In [5]:
# JSON: big data sets are normally stored and extracted as JSON

# JSON: is a plain text , but it has a format of an object
# object:

In [9]:
import pandas as pd
x = pd.read_json('data.json', encoding='utf-8')
print(x.to_string())

   ID    Name  Age     City  Score
0   1  User_1   47  Houston  20.28
1   2  User_2   30  Phoenix  11.31

In [10]:
#  dictionary as a json if your json code is not in file but in a dictionary 
import pandas as pd
data=[
  {"ID": 1, "Name": "User_1", "Age": 47, "City": "Houston", "Score": 20.28},
  {"ID": 2, "Name": "User_2", "Age": 30, "City": "Phoenix", "Score": 11.31}
]
y=pd.DataFrame(data)
print(y)

   ID    Name  Age     City  Score
0   1  User_1   47  Houston  20.28
1   2  User_2   30  Phoenix  11.31

In [12]:
# using head():-it is used to know the overviw of the data just like reading any index of book
import pandas as pd
x=pd.read_csv('demo_data.csv')
print(x.head(10))

   Student_ID        Name Grade  Age Major   GPA
0           1   Student_1     A   20    CE  3.53
1           2   Student_2     D   18    EE  3.67
2           3   Student_3     D   20    CS  2.25
3           4   Student_4     F   22   BIO  2.10
4           5   Student_5     C   21    EE  2.17
5           6   Student_6     D   19    CS  2.06
6           7   Student_7     B   20   BIO  3.34
7           8   Student_8     D   23    CE  3.14
8           9   Student_9     F   23    ME  3.16
9          10  Student_10     D   18    EE  2.56

In [13]:
# to see the last values of data:tail()
import pandas as pd
x=pd.read_csv('demo_data.csv')
print(x.tail(10))

    Student_ID        Name Grade  Age Major   GPA
40          41  Student_41     B   22   BIO  2.50
41          42  Student_42     F   24    CE  3.75
42          43  Student_43     A   22    EE  2.14
43          44  Student_44     F   21    CS  2.07
44          45  Student_45     B   23    ME  3.37
45          46  Student_46     A   20    CS  3.24
46          47  Student_47     F   21    CE  2.21
47          48  Student_48     D   20    CS  2.19
48          49  Student_49     F   19   BIO  2.48
49          50  Student_50     F   20    ME  3.82

In [14]:
# to get info about data:info()
import pandas as pd
x=pd.read_csv('demo_data.csv')
print(x.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Student_ID  50 non-null     int64
 1   Name        50 non-null     object
 2   Grade       50 non-null     object
 3   Age         50 non-null     int64
 4   Major       50 non-null     object
 5   GPA         50 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 2.5+ KB
None

In [15]:
# cleaning data
''':there are some problems in the data like
 empy cells, 
 in wrong format ,
dublicate data ,
wrong data
 to fix them we use cleaning data'''
# empty cell :it will always give you wrong result so we will remove the rows

':there are some problems in the data like\n empy cells, \n in wrong format ,\ndublicate data ,\nwrong data\n to fix them we use cleaning data'

In [17]:
import pandas as pd
x=pd.read_csv('dirtydata.csv')
print(x.to_string())

            Name     Age                 Email Registration_Date  Country   Salary
0       John Doe      25  john.doe@example.com        2023-01-15      USA  50000.0
1     Jane Smith     NaN    jane.smith@example        2023-02-30      USA  55000.0
2  Alice Johnson      28   alice.j@example.com               NaN   Canada      NaN
3            NaN      32                   NaN        2023-03-20      NaN  70000.0
4        Michael     NaN              michael@      Invalid Date   Canada  80000.0
5            NaN      40                   NaN        2023/04/25       UK  45000.0
6   Robert Brown  Thirty  robert.b@example.com        2023-05-10  Germany      NaN

In [18]:
import pandas as pd
x=pd.read_csv('dirtydata.csv')
y=x.dropna()
print(y.to_string())

       Name Age                 Email Registration_Date Country   Salary
0  John Doe  25  john.doe@example.com        2023-01-15     USA  50000.0

In [19]:
# removed all the bad data

In [20]:
# do in same file
import pandas as pd
x=pd.read_csv('dirtydata.csv')
x.dropna(inplace=True)
print(x.to_string())

       Name Age                 Email Registration_Date Country   Salary
0  John Doe  25  john.doe@example.com        2023-01-15     USA  50000.0

In [21]:
import pandas as pd
x=pd.read_csv('dirtydata.csv')
print(x)

            Name     Age                 Email Registration_Date  Country  \
0       John Doe      25  john.doe@example.com        2023-01-15      USA
1     Jane Smith     NaN    jane.smith@example        2023-02-30      USA
2  Alice Johnson      28   alice.j@example.com               NaN   Canada
3            NaN      32                   NaN        2023-03-20      NaN
4        Michael     NaN              michael@      Invalid Date   Canada
5            NaN      40                   NaN        2023/04/25       UK
6   Robert Brown  Thirty  robert.b@example.com        2023-05-10  Germany

    Salary
0  50000.0
1  55000.0
2      NaN
3  70000.0
4  80000.0
5  45000.0
6      NaN

In [22]:
# fillna():-allow us to fill the row that is to be deleted
import pandas as pd
x=pd.read_csv('dirtydata.csv')
x.fillna(130,inplace=True)
print(x.to_string())

            Name     Age                 Email Registration_Date  Country   Salary
0       John Doe      25  john.doe@example.com        2023-01-15      USA  50000.0
1     Jane Smith     130    jane.smith@example        2023-02-30      USA  55000.0
2  Alice Johnson      28   alice.j@example.com               130   Canada    130.0
3            130      32                   130        2023-03-20      130  70000.0
4        Michael     130              michael@      Invalid Date   Canada  80000.0
5            130      40                   130        2023/04/25       UK  45000.0
6   Robert Brown  Thirty  robert.b@example.com        2023-05-10  Germany    130.0

In [23]:
# filled where not a number was

In [24]:
#  to fill specific cell
# fillna():-allow us to fill the row that is to be deleted
import pandas as pd
x=pd.read_csv('dirtydata.csv')
x['Age'].fillna(130,inplace=True)
print(x.to_string())

            Name     Age                 Email Registration_Date  Country   Salary
0       John Doe      25  john.doe@example.com        2023-01-15      USA  50000.0
1     Jane Smith     130    jane.smith@example        2023-02-30      USA  55000.0
2  Alice Johnson      28   alice.j@example.com               NaN   Canada      NaN
3            NaN      32                   NaN        2023-03-20      NaN  70000.0
4        Michael     130              michael@      Invalid Date   Canada  80000.0
5            NaN      40                   NaN        2023/04/25       UK  45000.0
6   Robert Brown  Thirty  robert.b@example.com        2023-05-10  Germany      NaN

C:\Users\vm822\AppData\Local\Temp\ipykernel_46040\2340295589.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x['Age'].fillna(130,inplace=True)

In [28]:
# here we can also replace the empty cell using mean() mode() median()
# cal mean and replace the empty cell
import pandas as pd
x=pd.read_csv('dirtydata.csv')
y=x['Salary'].mean()
x['Salary'].fillna(y,inplace=True)
print(x.to_string())

            Name     Age                 Email Registration_Date  Country   Salary
0       John Doe      25  john.doe@example.com        2023-01-15      USA  50000.0
1     Jane Smith     NaN    jane.smith@example        2023-02-30      USA  55000.0
2  Alice Johnson      28   alice.j@example.com               NaN   Canada  60000.0
3            NaN      32                   NaN        2023-03-20      NaN  70000.0
4        Michael     NaN              michael@      Invalid Date   Canada  80000.0
5            NaN      40                   NaN        2023/04/25       UK  45000.0
6   Robert Brown  Thirty  robert.b@example.com        2023-05-10  Germany  60000.0
60000.0

C:\Users\vm822\AppData\Local\Temp\ipykernel_46040\822314250.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x['Salary'].fillna(y,inplace=True)

In [29]:
import pandas as pd
x=pd.read_csv('dirtydata.csv')
y=x['Salary'].median()
x['Salary'].fillna(y,inplace=True)
print(x.to_string())

            Name     Age                 Email Registration_Date  Country   Salary
0       John Doe      25  john.doe@example.com        2023-01-15      USA  50000.0
1     Jane Smith     NaN    jane.smith@example        2023-02-30      USA  55000.0
2  Alice Johnson      28   alice.j@example.com               NaN   Canada  55000.0
3            NaN      32                   NaN        2023-03-20      NaN  70000.0
4        Michael     NaN              michael@      Invalid Date   Canada  80000.0
5            NaN      40                   NaN        2023/04/25       UK  45000.0
6   Robert Brown  Thirty  robert.b@example.com        2023-05-10  Germany  55000.0

C:\Users\vm822\AppData\Local\Temp\ipykernel_46040\2507996952.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x['Salary'].fillna(y,inplace=True)

In [30]:
import pandas as pd
x=pd.read_csv('dirtydata.csv')
y=x['Salary'].mode()
x['Salary'].fillna(y,inplace=True)
print(x.to_string())

            Name     Age                 Email Registration_Date  Country   Salary
0       John Doe      25  john.doe@example.com        2023-01-15      USA  50000.0
1     Jane Smith     NaN    jane.smith@example        2023-02-30      USA  55000.0
2  Alice Johnson      28   alice.j@example.com               NaN   Canada  55000.0
3            NaN      32                   NaN        2023-03-20      NaN  70000.0
4        Michael     NaN              michael@      Invalid Date   Canada  80000.0
5            NaN      40                   NaN        2023/04/25       UK  45000.0
6   Robert Brown  Thirty  robert.b@example.com        2023-05-10  Germany      NaN

C:\Users\vm822\AppData\Local\Temp\ipykernel_46040\1600092354.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x['Salary'].fillna(y,inplace=True)

In [31]:
# cleaning wrong format

In [32]:
# data in a wrong format
# to fix this problem there are two ways
'''
1.remove the rows
2. change the format
'''

'\n1.remove the rows\n2. change the format\n'

In [35]:
import pandas as pd
x=pd.read_csv('dirtydata.csv')
x["Registration_Date"]=pd.to_datetime(x['Registration_Date'], errors='coerce' ) # Replace invalid dates with NaT
print(x.to_string())

            Name     Age                 Email Registration_Date  Country   Salary
0       John Doe      25  john.doe@example.com        2023-01-15      USA  50000.0
1     Jane Smith     NaN    jane.smith@example               NaT      USA  55000.0
2  Alice Johnson      28   alice.j@example.com               NaT   Canada      NaN
3            NaN      32                   NaN        2023-03-20      NaN  70000.0
4        Michael     NaN              michael@               NaT   Canada  80000.0
5            NaN      40                   NaN               NaT       UK  45000.0
6   Robert Brown  Thirty  robert.b@example.com        2023-05-10  Germany      NaN

In [ ]:
import pandas as pd
x=pd.read_csv('dirtydata.csv')
x["Registration_Date"]=pd.to_datetime(x['Registration_Date'], errors='coerce' ) # Replace invalid dates with NaT
x.dropna(subset=["Registration_Date"],inplace=True)
# Explanation:

# dropna() Function:

# This function removes rows (or columns, if specified) that contain missing values (NaN).
# subset=["Registration_Date"]:

# Specifies that the dropna function should only consider the Registration_Date column for checking missing values.
# If a row in the dataset has a missing value (NaN or NaT for datetime objects) in the Registration_Date column, that row will be removed.
# inplace=True:

# Ensures that the changes are applied directly to the DataFrame x.
# Without inplace=True, the function would return a new DataFrame with the rows removed but wouldnt modify the original x DataFrame.
print(x.to_string())

           Name     Age                 Email Registration_Date  Country   Salary
0      John Doe      25  john.doe@example.com        2023-01-15      USA  50000.0
3           NaN      32                   NaN        2023-03-20      NaN  70000.0
6  Robert Brown  Thirty  robert.b@example.com        2023-05-10  Germany      NaN

In [38]:
# fixing wrong data
import pandas as pd
x=pd.read_csv('dirtydata.csv')
print(x)

            Name     Age                 Email Registration_Date  Country  \
0       John Doe      25  john.doe@example.com        2023-01-15      USA
1     Jane Smith     NaN    jane.smith@example        2023-02-30      USA
2  Alice Johnson      28   alice.j@example.com               NaN   Canada
3            NaN      32                   NaN        2023-03-20      NaN
4        Michael     NaN              michael@      Invalid Date   Canada
5            NaN      40                   NaN        2023/04/25       UK
6   Robert Brown  Thirty  robert.b@example.com        2023-05-10  Germany

    Salary
0  50000.0
1  55000.0
2      NaN
3  70000.0
4  80000.0
5  45000.0
6      NaN

In [39]:
# wrong data replacing in small datasets
import pandas as pd
x=pd.read_csv('dirtydata.csv')
x.loc[4,"Salary"]=50000
print(x.to_string())

            Name     Age                 Email Registration_Date  Country   Salary
0       John Doe      25  john.doe@example.com        2023-01-15      USA  50000.0
1     Jane Smith     NaN    jane.smith@example        2023-02-30      USA  55000.0
2  Alice Johnson      28   alice.j@example.com               NaN   Canada      NaN
3            NaN      32                   NaN        2023-03-20      NaN  70000.0
4        Michael     NaN              michael@      Invalid Date   Canada  50000.0
5            NaN      40                   NaN        2023/04/25       UK  45000.0
6   Robert Brown  Thirty  robert.b@example.com        2023-05-10  Germany      NaN

In [40]:
# to replace in big  data sets
# we have to fix certain boundaries
import pandas as pd
x=pd.read_csv('dirtydata.csv')
for i in x.index:
    if(x.loc[i,"Salary"])>50000:
         x.loc[i,"Salary"]=50000
print(x.to_string())

            Name     Age                 Email Registration_Date  Country   Salary
0       John Doe      25  john.doe@example.com        2023-01-15      USA  50000.0
1     Jane Smith     NaN    jane.smith@example        2023-02-30      USA  50000.0
2  Alice Johnson      28   alice.j@example.com               NaN   Canada      NaN
3            NaN      32                   NaN        2023-03-20      NaN  50000.0
4        Michael     NaN              michael@      Invalid Date   Canada  50000.0
5            NaN      40                   NaN        2023/04/25       UK  45000.0
6   Robert Brown  Thirty  robert.b@example.com        2023-05-10  Germany      NaN

In [41]:

# The .loc property in pandas is used to access a group of rows and columns in a 
# DataFrame by labels or boolean arrays. It allows you to locate specific elements of a
#  DataFrame using row and column labels.

In [43]:
# removing dublicates
# first we noeed todiscover the dublicate values
#  so in larger datasets we use dublicate()
import pandas as pd
x=pd.read_csv('dirtydata.csv')
print(x.to_string())

            Name     Age                 Email Registration_Date  Country   Salary
0       John Doe      25  john.doe@example.com        2023-01-15      USA  50000.0
1     Jane Smith     NaN    jane.smith@example        2023-02-30      USA  55000.0
2  Alice Johnson      28   alice.j@example.com               NaN   Canada      NaN
3            NaN      32                   NaN        2023-03-20      NaN  70000.0
4        Michael     NaN              michael@      Invalid Date   Canada  80000.0
5            NaN      40                   NaN        2023/04/25       UK  45000.0
6   Robert Brown  Thirty  robert.b@example.com        2023-05-10  Germany      NaN

In [44]:
import pandas as pd
x=pd.read_csv('dirtydata.csv')
print(x.duplicated())

0    False
1    False
2    False
3    False
4    False
5    False
6    False
dtype: bool

In [45]:
# here if any row is duplicatethen it will return true

In [46]:
import pandas as pd
x=pd.read_csv('dirtydata.csv')
x.drop_duplicates(inplace=True) # i will remove if any duplicate is present 
#  inplace will add data after operation to the same place
print(x.to_string())

            Name     Age                 Email Registration_Date  Country   Salary
0       John Doe      25  john.doe@example.com        2023-01-15      USA  50000.0
1     Jane Smith     NaN    jane.smith@example        2023-02-30      USA  55000.0
2  Alice Johnson      28   alice.j@example.com               NaN   Canada      NaN
3            NaN      32                   NaN        2023-03-20      NaN  70000.0
4        Michael     NaN              michael@      Invalid Date   Canada  80000.0
5            NaN      40                   NaN        2023/04/25       UK  45000.0
6   Robert Brown  Thirty  robert.b@example.com        2023-05-10  Germany      NaN