In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(host='localhost',user='root',passwd='')
cursor = mydb.cursor()

In [3]:
cursor.execute("create database python_lab")

cursor.execute("use python_lab")

In [4]:
cursor.execute("create table student(name varchar(255),mobile bigint)")

In [5]:
cursor.execute("insert into student(name,mobile) values ('Ajay',9501030373)")
mydb.commit()

In [6]:
cursor.execute("select * from student")
result = cursor.fetchall()
result

[('Ajay', 9501030373)]

In [8]:
cursor.execute("select * from student where name='aaa' ")
result = cursor.fetchall()
result

[]

In [9]:
cursor.execute("update student set name = 'Abhi' where name = 'aaa' ")
mydb.commit()

In [22]:
mydb = mysql.connector.connect(host='localhost',user='root',passwd='')
cursor = mydb.cursor()

In [24]:
cursor.execute("CREATE DATABASE VISHAL_MISHRA")

In [25]:
cursor.execute("USE VISHAL_MISHRA")

In [ ]:
cursor.execute("CREATE TABLE CUSTOMERS(name int,cusstomer_name varchar(50),contact_name varchar(50),address varchar(50),city varchar(50),postal_code int ,country varchar(50))(name int,cusstomer_name varchar(50),contact_name varchar(50),address varchar(50),city varchar(50),postal_code int ,country varchar(50))")

In [30]:
cursor.execute("INSERT INTO CUSTOMERS(name,cusstomer_name,contact_name,address,city,postal_code,country) VALUES (1,'Alfreds Futterkiste','Maria Anders','Obere Str. 57','Berlin',12209,'Germany')")

In [31]:
cursor.execute("SELECT * FROM CUSTOMERS")
RESULT=cursor.fetchall()
RESULT

[(1,
  'Alfreds Futterkiste',
  'Maria Anders',
  'Obere Str. 57',
  'Berlin',
  12209,
  'Germany')]

In [35]:
cursor.execute("SELECT * FROM CUSTOMERS")
RESULT=cursor.fetchall()
RESULT

[(1,
  'Alfreds Futterkiste',
  'Maria Anders',
  'Obere Str. 57',
  'Berlin',
  12209,
  'Germany'),
 (2,
  'Ana Trujillo Emparedados y helados',
  'Ana Trujillo',
  'Avda. de la Constitución 2222',
  'México D.F.',
  5021,
  'Mexico')]

In [36]:
import numpy as np

In [ ]:
x=np.array(RESULT)
x

array([['1', 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57',
        'Berlin', '12209', 'Germany'],
       ['2', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo',
        'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico']],
      dtype='<U34')

In [39]:
import pandas as pd
y=pd.DataFrame(RESULT)
print(RESULT)

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', 12209, 'Germany'), (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', 5021, 'Mexico')]

In [44]:
mydb = mysql.connector.connect(host='localhost',user='root',passwd='')
cursor = mydb.cursor()

In [45]:
cursor.execute("CREATE DATABASE v")

ProgrammingError: 1046 (3D000): No database selected