In [1]:
# what is pandas ?
# pandas is a library used to work with data sets, analysing ,cleaning ,exploring and manipulating data

In [2]:
# name pandas->python data analysis

In [3]:
# pandas analyse bug data and make conclusions based on statistical theories

In [4]:
# pandas can clean messi datas and make them redable and relevant

In [5]:
# what can pandas do ?
# avg value
# min value
# max value
# make ad delete rows

In [6]:
import pandas as pd
print(pd.__version__)

2.2.3

In [7]:
# pandasseries
# pandasseries is like column in a table 
# it is like 1d array which holds data of any type

In [9]:
import pandas as pd
x=[1,4,5,7,4]
y=pd.Series(x)
print(y)

0    1
1    4
2    5
3    7
4    4
dtype: int64

In [12]:
# labeling-can be used to access a specified value
import pandas as pd
x=[1,4,5,7,4]
y=pd.Series(x)
print(y)
print("2nd index:",y[2])

0    1
1    4
2    5
3    7
4    4
dtype: int64
2nd index: 5

In [13]:
# with create label you can create your own name labels
import pandas as pd
x=[1,4,5,7,4]
y=pd.Series(x,index=["a","b","c","d","e"])
print(y)

a    1
b    4
c    5
d    7
e    4
dtype: int64

In [14]:
#  to access the value after creating own label
import pandas as pd
x=[1,4,5,7,4]
y=pd.Series(x,index=["a","b","c","d","e"])
print(y["c"])

5

In [15]:
# you can also use a key or value objet like dictionary.when creating a series

In [17]:
import pandas as pd
cal={"day1":420,"day2":380,"day3":390}
y=pd.Series(cal)
print(y)

day1    420
day2    380
day3    390
dtype: int64

In [18]:
# now we will create a series using only data from day1 and day2
import pandas as pd
cal={"day1":420,"day2":380,"day3":390}
y=pd.Series(cal,index=["day1","day2"])
print(y)

day1    420
day2    380
dtype: int64

In [19]:
# dataFrame:datasets in pandas are usually multidimensional tables and they are called dataframes

In [20]:
# series are like columns and dataframes is the whole tables

In [22]:
import pandas as pd
x={"cal":[420,380,390],"duration":[40,50,60]}
y=pd.DataFrame(x)
print(y)

   cal  duration
0  420        40
1  380        50
2  390        60

In [24]:
#  to show particular row
# locate row: pandas use the loc attribute to return one or more specified row
import pandas as pd
x={"cal":[420,380,390],"duration":[40,50,60]}
y=pd.DataFrame(x)
print(y)
print()
print(y.loc[0])

   cal  duration
0  420        40
1  380        50
2  390        60

cal         420
duration     40
Name: 0, dtype: int64

In [30]:
import pandas as pd
x={"cal":[420,380,390],"duration":[40,50,60]}
y=pd.DataFrame(x)
print(y)
print()
print(y.loc[[0,1]])

   cal  duration
0  420        40
1  380        50
2  390        60

   cal  duration
0  420        40
1  380        50

In [31]:
# named index:
# with the index arg you can name your own index
import pandas as pd
x={"cal":[420,380,390],"duration":[40,50,60]}
y=pd.DataFrame(x,index=["day1","day2","day3"])
print(y)

      cal  duration
day1  420        40
day2  380        50
day3  390        60

In [33]:
# locate the named indexes

import pandas as pd
x={"cal":[420,380,390],"duration":[40,50,60]}
y=pd.DataFrame(x,index=["day1","day2","day3"])
print(y.loc["day1"])

cal         420
duration     40
Name: day1, dtype: int64

In [34]:
import pandas as pd
x={"cal":[420,380,390],"duration":[40,50,60]}
y=pd.DataFrame(x,index=["day1","day2","day3"])
print(y.loc[["day1","day2"]])

      cal  duration
day1  420        40
day2  380        50

In [35]:
# load the data from the csv file into dataframe
# i.e data.csv
import pandas as pd
# x=pd.read_csv('data.csv')
# print(x)

In [1]:
# why use csv ?
# comma separated value or files
# it is a simple way to store the big and biggest data sets
# used for importing 
# csv files contain plain text

In [2]:
import pandas as pd
x=pd.read_csv('demo_data.csv')
print(x)

    Student_ID        Name Grade  Age Major   GPA
0            1   Student_1     A   20    CE  3.53
1            2   Student_2     D   18    EE  3.67
2            3   Student_3     D   20    CS  2.25
3            4   Student_4     F   22   BIO  2.10
4            5   Student_5     C   21    EE  2.17
5            6   Student_6     D   19    CS  2.06
6            7   Student_7     B   20   BIO  3.34
7            8   Student_8     D   23    CE  3.14
8            9   Student_9     F   23    ME  3.16
9           10  Student_10     D   18    EE  2.56
10          11  Student_11     D   18    EE  2.55
11          12  Student_12     A   23    CE  3.90
12          13  Student_13     F   24    CE  2.38
13          14  Student_14     A   18    CS  3.51
14          15  Student_15     B   18   BIO  3.94
15          16  Student_16     B   23    CE  2.17
16          17  Student_17     D   22    EE  2.50
17          18  Student_18     C   19   BIO  2.70
18          19  Student_19     B   18    CS  2.97
19          20  Student_20     A   18    CS  2.29
20          21  Student_21     F   23    CE  2.96
21          22  Student_22     A   18    CE  2.74
22          23  Student_23     D   18    ME  3.74
23          24  Student_24     B   20   BIO  2.46
24          25  Student_25     C   23   BIO  2.37
25          26  Student_26     A   22    CS  2.75
26          27  Student_27     C   21    EE  3.29
27          28  Student_28     C   22   BIO  3.23
28          29  Student_29     B   22   BIO  3.71
29          30  Student_30     F   20    CE  3.17
30          31  Student_31     F   21    CE  2.59
31          32  Student_32     B   21    EE  3.13
32          33  Student_33     F   20    EE  3.01
33          34  Student_34     D   20    EE  2.16
34          35  Student_35     B   21    CE  2.52
35          36  Student_36     F   24    ME  2.84
36          37  Student_37     A   19    CS  2.22
37          38  Student_38     A   24   BIO  2.31
38          39  Student_39     D   18    CS  2.44
39          40  Student_40     B   24    ME  2.57
40          41  Student_41     B   22   BIO  2.50
41          42  Student_42     F   24    CE  3.75
42          43  Student_43     A   22    EE  2.14
43          44  Student_44     F   21    CS  2.07
44          45  Student_45     B   23    ME  3.37
45          46  Student_46     A   20    CS  3.24
46          47  Student_47     F   21    CE  2.21
47          48  Student_48     D   20    CS  2.19
48          49  Student_49     F   19   BIO  2.48
49          50  Student_50     F   20    ME  3.82